[submodule "alacritty/.config/alacritty/themes"]
	path = alacritty/.config/alacritty/themes
	url = git://github.com/alacritty/alacritty-theme
[submodule "awesome/.config/awesome/awesome"]
	path = awesome/.config/awesome/awesome
	url = git://github.com/awesomeWM/awesome
[submodule "awesome/.config/awesome/awesome-buttons"]
	path = awesome/.config/awesome/awesome-buttons
	url = git://github.com/lcpz/awesome-buttons
[submodule "awesome/.config/awesome/brightness"]
	path = awesome/.config/awesome/brightness
	url = git://github.com/lcpz/awesome-brightness-widget
[submodule "awesome/.config/awesome/freedesktop"]
	path = awesome/.config/awesome/freedesktop
	url = git://github.com/lcpz/awesome-freedesktop
[submodule "awesome/.config/awesome/lain"]
	path = awesome/.config/awesome/lain
	url = git://github.com/lcpz/lain