configuration {
    modi: "combi,drun,run,window";
    show-icons: true;
    font: "JetBrains Mono Nerd Font 11";
    display-drun: "Apps";
    display-run: "Run";
    display-combi: "Search";
    display-window: "Windows";
    matching: "fuzzy";
    drun-display-format: "{name}";
    terminal: "alacritty";
}

* {
    background: #1e1e2e;
    foreground: #cdd6f4;
    lightbg: #313244;
    selected-normal-background: #89dceb;
    selected-normal-foreground: #1e1e2e;
    selected-active-background: #89dceb;
    selected-active-foreground: #1e1e2e;
    active-background: #313244;
    active-foreground: #cdd6f4;
    alternate-normal-background: #313244;
    alternate-active-background: #313244;
    alternate-active-foreground: #cdd6f4;
    urgent-background: #313244;
    urgent-foreground: #f38ba8;
    border-color: #45475a;
}

window {
    width: 45%;
    border: 2px;
    border-radius: 8px;
    padding: 12px;
}

element {
    padding: 6px;
}

element selected {
    background-color: @selected-normal-background;
}
